Package: com.yourepo.abo1bs.uasharedtoolsno-ads
Name: uasharedtools NO-ADs
Version: 2.1r-64k
Architecture: iphoneos-arm
Description: shared tools for unlimapps tweaks Cracked
Depiction: http://rasha1.in/repo/pack/uasharedtoolsno-ads
Author: UnlimApps Inc.
Section: Development
Depends: mobilesubstrate, firmware (>= 7.0)

